.market-intelligence-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-div);
    padding: 20px;
    border-radius: 20px;
    width: 100%;
}

.market-intelligence-container h2 {
    margin: 0 0 8px;
}

.market-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
}

.bullet {
    font-size: 75px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet-blue {
    color: rgb(20, 20, 129);
}

.bullet-yellow {
    color: rgb(226, 155, 22);
}

.bullet-red {
    color: rgb(134, 13, 13);
}

hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 2px ;
}