.winnability {
    border: 1px solid var(--accent-color);
    border-radius: 999px;
    padding: 4px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    color: var(--accent-color);
}

.dots {
    font-size: 32px;
    color: var(--accent-color);
}