.account-header {
    display: flex;
    flex-direction: row;
    padding: 24px;
    justify-content: space-between;
}

.account-summary {
    display: flex;
    flex-direction: column;
}

.breadcrumb {
    font-size: 14px;
}

.breadcrumb a {
    color: var(--accent-color);
}

.summary-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 10px;
}

.account-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--background-div);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-info h1 {
    font-size: 34px;
    font-weight: 300;
    margin: 0 0 16px 0;
}

.details-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
}

.location {
    font-size: 14px;
    white-space: pre-line;
    max-width: 220px;
    line-height: 1.2;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.info-item span {
    font-size: 12px;
    color: var(--nav-text);
    text-transform: uppercase;
    margin-bottom: 4px;
}

.info-item p {
    margin: 0;
    font-size: 14px;
}

.divider {
    width: 1px;
    background-color: var(--border-color);
    height: 36px;
    align-self: center;
}

.attention-panel {
    border: 1px solid rgb(253, 210, 97);
    border-radius: 25px;
    margin-left: 80px;
    padding: 16px 20px;
    background-color: var(--background-div);
    gap: 20px;
}

.attention-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    gap: 10px;
    line-height: 0px;
}

.attention-header h2 {
    font-weight: 300;
    color: rgb(253, 210, 97);
}

.attention-content {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.attention-item {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.attention-item h2 {
    font-weight: 300;
    font-size: 15px;
    margin: 0;
}

.attention-item p {
    font-weight: 300;
    font-size: 13px;
    color: var(--border-color);
}

.attention-item a {
    font-size: 14px;
    color: var(--accent-color);
    text-decoration: none;
}