<div class="dashboard">
    <div class="top-row">
        <app-work-queue class="work-queue"></app-work-queue>

        <div class="right-side-container">
            <app-portfolio-goals class="portfolio-goals"></app-portfolio-goals>
            <div class="right-side">
                <app-quick-actions class="quick-actions"></app-quick-actions>
                <app-market-intel class="market-intel"></app-market-intel>
            </div>
        </div>

    </div>

    <app-accounts-table class="accounts-table"></app-accounts-table>
</div>