@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: "Roboto", sans-serif;

    --accent-color: rgb(59, 130, 246);
    --background-color: rgb(12, 15, 23);
    --border-color: rgb(89, 98, 117);
    --nav-text: rgb(197, 202, 211);
    --background-div: rgb(30, 34, 51);
}

body {
    background-color: rgb(18, 22, 34);
    color: rgb(229, 231, 235);
}

.dots-button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    gap: 3px;
    margin-left: 20px;
}

.dots-button span {
    display: block;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
}